@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  background-color: #2b2b2b;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}
.nav .desktop {
  display: none;
}
.nav .mobile {
  display: block;
}
.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.nav__first-sec {
  display: flex;
  gap: 5px;
  flex-grow: 1;
  align-items: center;
}

.search_bar {
  margin: 0.5em 1em;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 3px lightgray;
  overflow: hidden;
}
.search_bar__input {
  border: 2px solid white;
  flex-grow: 1;
  outline: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  padding: 0.8em 0 0.8em 1.2em;
}
.search_bar__input::-moz-placeholder {
  font-weight: 500;
}
.search_bar__input::placeholder {
  font-weight: 500;
}
.search_bar__input:focus {
  border: 2px solid #00838C;
}
.search_bar__button {
  background-color: #09757A;
  outline: unset;
  border: unset;
  padding: 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 0 1em;
  display: grid;
  grid-template-rows: 5fr 2fr;
  min-height: 83vh;
  gap: 1em;
}
.banner__panel {
  border-radius: 20px;
}
.banner__panel_first {
  background-image: url("https://img1.wsimg.com/cdnassets/transform/4c5fe153-b3a2-416e-b772-cfd315360e36/row-mrq-hp-portrait");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.2rem;
  align-items: center;
  padding: 0.5em;
}
.banner__panel_first > h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 900;
}
.banner__panel_first > h6 {
  padding: 5px;
  font-weight: normal;
}
.banner__panel_first__price_link {
  text-decoration: none;
  color: #111111;
  font-size: 0.9rem;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 7px;
}
.banner__panel_first__disclaimer {
  font-size: 0.7rem;
}
.banner__panel_second {
  background-color: #111111;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1em;
}
.banner__panel_second__left__tag {
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: #D8EFEF;
  color: #111111;
}
.banner__panel_second__left > h5 {
  margin: 0.8em 0;
  font-weight: 500;
}
.banner__panel_second__left__mainText {
  font-weight: 500;
  font-size: 1.3rem;
  width: 65%;
}

.recommendations {
  padding: 3em 0;
}
.recommendations__title {
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.recommendations__menu {
  display: flex;
  list-style: none;
  overflow-x: auto;
  gap: 0.5em;
  padding: 1.5em 1em;
}
.recommendations__menu__option label {
  padding: 0.7em 1em;
  border: 2px solid lightgray;
  border-radius: 50px;
  align-content: center;
  font-size: 0.9rem;
  text-wrap: nowrap;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.recommendations__menu__option input[type=radio] {
  display: none;
}
.recommendations__menu__option input[type=radio]:checked ~ label {
  background-color: #111111;
  border: 2px solid #111111;
  color: white;
}
.recommendations__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 3fr;
  gap: 0.5em;
  padding: 1em;
  height: 400px;
}
.recommendations__links__block {
  font-size: 0.8rem;
  padding: 1em;
  background-color: #f5f7f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.recommendations__links__block:first-child {
  grid-column: span 2;
  font-size: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #D8EFEF;
}
.recommendations__links__block:first-child svg {
  align-self: flex-start;
}
.recommendations__links__block svg {
  align-self: flex-end;
}
.recommendations__links__block h3 {
  font-weight: 500;
  padding-right: 1em;
}

.start_container {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.start_container__title {
  padding: 0 0.5em;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
.start_container__slider {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
  padding: 1em;
  gap: 1em;
}
.start_container__slider__card {
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 85vw;
  gap: 1em;
  overflow: hidden;
  background-color: #f5f7f8;
}
.start_container__slider__card img {
  width: 100%;
}
.start_container__slider__card__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.start_container__slider__card__content h3 {
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.3rem;
}
.start_container__slider__card__content p {
  padding: 0 20px;
  font-size: 0.9rem;
}
.start_container__button {
  background-color: #111111;
  color: white;
  border-radius: 5px;
  padding: 1.2em 4em;
  margin: 1em auto;
  font-weight: 500;
  border: unset;
}

.roletape {
  padding: 2em 1em;
}
.roletape__title {
  padding: 0.5em 0.2em;
  font-size: 1.8em;
  font-weight: 500;
}
.roletape__card {
  border-radius: 10px;
  overflow: hidden;
}
.roletape__card img {
  width: 100%;
}
.roletape__card__content {
  padding: 1em 1.7em;
}
.roletape__card__content__quote {
  font-weight: 500;
  font-size: 1.25rem;
}
.roletape__card__content__desc {
  padding: 2em 0;
  font-size: 0.9rem;
}
.roletape__card__content__desc > h4 {
  font-weight: 600;
}
.roletape__card__content__desc ul {
  list-style: none;
  padding: 1em 0;
}
.roletape__card__content__desc ul li {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.roletape__card__content__desc ul li svg {
  border-radius: 7px;
  background-color: #D8EFEF;
  aspect-ratio: 4/4;
  padding: 0.4em;
  width: 2em;
  height: 2em;
}
.roletape__card__content__desc ul li svg path {
  margin: auto;
}
.roletape__card__content__desc ul li span {
  font-size: 0.9rem;
  font-weight: 500;
}

.guides {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.guides img {
  align-self: center;
  width: 150%;
}
.guides__head {
  display: flex;
  padding: 2em;
}
.guides__head span {
  color: transparent;
  position: relative;
  background: linear-gradient(90deg, rgb(84, 187, 255) 0%, rgb(187, 48, 185) 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.guides__content {
  padding: 0 2em;
}
.guides__content__title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}
.guides__content__text {
  padding: 1.5em 0;
  font-weight: 400;
}
.guides__content__button {
  border: unset;
  background-color: #111111;
  border-radius: 5px;
  color: white;
  padding: 1em 4em;
}

.common_questions {
  padding: 2em;
}
.common_questions > h1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1em 0;
}
.common_questions > h2 {
  font-weight: 500;
  text-align: center;
}
.common_questions__wrapper {
  padding: 2em 1em;
}
.common_questions__wrapper__question {
  border-top: 1px solid lightgray;
  padding: 1.5em 0.1em;
}
.common_questions__wrapper__question__head {
  display: flex;
  list-style: none;
  gap: 1em;
}
.common_questions__wrapper__question__head h4 {
  line-height: 2rem;
  font-weight: 500;
}
.common_questions__wrapper__question__head svg {
  flex-shrink: 0;
}
.common_questions__wrapper__question__answer {
  padding: 1em 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.disclaimer {
  padding: 1em;
  font-size: 0.9rem;
}
.disclaimer__police {
  color: black;
  font-weight: 500;
}
.disclaimer__text {
  margin-top: 1em;
}

.footer {
  margin-top: 15px;
  background-color: #111111;
  padding: 1em 0;
}
.footer__menu__dropdown {
  padding: 1em 1em;
}
.footer__menu__dropdown__header {
  padding: 0.5em 0;
  font-size: 0.85rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer__menu__dropdown__content {
  list-style: none;
}
.footer__menu__dropdown__content__option {
  padding: 0.75em 0;
  font-size: 0.75rem;
  color: #9f9f9f;
}
.footer__logo {
  border-top: 1px solid #2b2b2b;
  padding: 1em 0;
}
.footer__logo svg {
  padding: 0 1em;
}
.footer__selects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em 2em;
  border-top: 2px solid #f5f7f8;
}
.footer__selects select {
  background: unset;
  border: unset;
  color: white;
  font-size: 1rem;
}
.footer__selects__wrapper {
  display: flex;
  justify-content: center;
}
.footer__socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 1em 2em;
  border-bottom: 1px solid #2b2b2b;
}
.footer__socials li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__polices {
  padding: 1em;
}
.footer__polices p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding: 1em 0;
}

.grey_btn {
  background-color: #111111;
  font-weight: 600;
  padding: 1.4em 4em 1.2em 4em;
  outline: unset;
  border: unset;
  border-radius: 5px;
  color: white;
}

@media (min-width: 1024px) {
  .nav .desktop {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */