// Fonts: Poppins, Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Variables

$accent-color: #00838C;
$secondary-color: #09757A;
$light-blue: #D8EFEF;
$dark-grey: #111111;
$nav-bg: #2b2b2b;
$light-gray: #f5f7f8;

// Global Styles

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

// Mobile (main styling)
.nav {
     background-color: $nav-bg;
     height: 60px;
     display: flex;
     align-items: center;
     padding: .5em;
     gap: .5em;
     
     .desktop {
          display: none;
     }
     .mobile {
          display: block;
     }
     &__menu {
          list-style: none;
          display: flex;
          align-items: center;
          & > li {
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 1em;
          }
     }
     &__first-sec {
          display: flex;
          gap: 5px;
          flex-grow: 1;
          align-items: center;
     }
}

.search_bar {
     margin: .5em 1em;
     display: flex;
     border-radius: 5px;
     box-shadow: 0 0 3px lightgray;
     overflow: hidden;
     &__input {
          border: 2px solid white;
          flex-grow: 1;
          outline: unset;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          font-size: 1rem;
          padding: .8em 0 .8em 1.2em;
          &::placeholder {
               font-weight: 500;
          }
          &:focus{
               border: 2px solid $accent-color;
          }
     }
     &__button {
          background-color: $secondary-color;
          outline: unset;
          border: unset;
          padding: 0 1.5em;
          display: flex;
          justify-content: center;
          align-items: center;
     }
}

.banner{
     padding: 0 1em;
     display:grid;
     grid-template-rows: 5fr 2fr;
     min-height: 83vh;
     gap: 1em;
     &__panel {
          border-radius: 20px;
          &_first {
               // background-color: $accent-color;
               background-image: url("https://img1.wsimg.com/cdnassets/transform/4c5fe153-b3a2-416e-b772-cfd315360e36/row-mrq-hp-portrait");
               background-position: center bottom;
               background-size: cover;
               background-repeat: no-repeat;
               display: flex;
               flex-direction: column;
               gap: .5em;
               font-size: 1.2rem;
               align-items: center;
               padding: .5em;
               & > h1 {
                    font-family: 'Playfair Display', serif;
                    font-size: 2rem;
                    font-weight: 900;
               }
               & > h6 {
                    padding: 5px;
                    font-weight: normal;
               }
               &__price_link {
                    text-decoration: none;
                    color: $dark-grey;
                    font-size: 0.9rem;
                    padding: .5em;
                    display: flex;
                    align-items: center;
                    gap: 7px;
               }
               &__disclaimer {
                    font-size: .7rem;
               }
          }

          &_second {
               background-color: $dark-grey;
               color: white;
               display: grid;
               grid-template-columns: auto 1fr;
               align-items: center;
               padding: 1em;
               &__left {
                    &__tag {
                         padding: 2px 5px;
                         border-radius: 5px;
                         font-size: .8rem;
                         letter-spacing: 1px;
                         background-color: $light-blue;
                         color: $dark-grey;
                    }
                    & > h5 {
                         margin: .8em 0;
                         font-weight: 500;
                    }
                    &__mainText {
                         font-weight: 500;
                         font-size: 1.3rem;
                         width: 65%;
                    }
               }
               
          }
     }
}
.recommendations {
     padding: 3em 0;
     &__title {
          padding: .5em 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 500;
     }
     &__menu {
          display: flex;
          list-style: none;
          overflow-x: auto;
          gap: .5em;
          padding: 1.5em 1em;
          &__option {
               label {
                    padding: .7em 1em;
                    border: 2px solid lightgray;
                    border-radius: 50px;
                    align-content: center;
                    font-size: .9rem;
                    text-wrap: nowrap;
                    font-weight: 500;
                    transition: .2s ease-in-out;
               }
               input[type="radio"] {
                    display: none;
               }
               input[type="radio"]:checked ~ label {
                    background-color: $dark-grey;
                    border: 2px solid $dark-grey;
                    color: white;
               }
          }
     }
     &__links {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 4fr 3fr;
          gap: .5em;
          padding: 1em;
          height: 400px;
          &__block {
               &:first-child {
                    grid-column: span 2;
                    font-size: 1rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    background-color: $light-blue;
                    svg {
                         align-self: flex-start;
                    }
               }
               font-size: .8rem;
               padding: 1em;
               background-color: $light-gray;
               border-radius: 10px;
               display: flex;
               flex-direction: column-reverse;
               justify-content: space-between;
               svg {
                    align-self: flex-end;
               }
               h3 {
                    font-weight: 500;
                    padding-right: 1em;
               }
          }
     }
}
.start_container {
     display: flex;
     flex-direction: column;
     padding: 2em 0;
     &__title {
          padding: 0 .5em;
          font-size: 1.8rem;
          font-weight: 500;
          text-align: center;
     }
     &__slider {
          scroll-behavior: smooth;
          scroll-snap-type: x mandatory;
          display: flex;
          overflow-x: auto;
          padding: 1em;
          gap: 1em;
          
          &__card {
               scroll-snap-align: center;
               flex-shrink: 0;
               border-radius: 10px;
               display: grid;
               grid-template-rows: 1fr 1fr;
               width: 85vw;
               gap: 1em;
               overflow: hidden;
               background-color: $light-gray; 
               img {
                    width: 100%;
               }
               &__content {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    h3 {
                         padding: 0 20px;
                         font-weight: 500;
                         font-size: 1.3rem;
                    }
                    p {
                         padding: 0 20px;
                         font-size: .9rem;
                    }
               }
          }
     }
     &__button {
          background-color: $dark-grey;
          color: white;
          border-radius: 5px;
          padding: 1.2em 4em;
          margin: 1em auto;
          font-weight: 500;
          border: unset;
     }
}
.roletape {
     padding: 2em 1em;
     &__title {
          padding: .5em .2em;
          font-size: 1.8em;
          font-weight: 500;
     }
     &__card {
          border-radius: 10px;
          overflow: hidden;
          img {
               width: 100%;
          }

          &__content {
               padding: 1em 1.7em;
               &__quote {
                    font-weight: 500;
                    font-size: 1.25rem;
               }
               &__desc {
                    padding: 2em 0;
                    font-size: .9rem;
                    & > h4 {
                         font-weight: 600;
                    }

                    ul {
                         list-style: none;
                         padding: 1em 0;
                         li {
                              padding: .5em 0;
                              display: flex;
                              align-items: center;
                              gap: .8em;
                              svg {
                                   border-radius: 7px;
                                   background-color: $light-blue;
                                   aspect-ratio: 4/4;     
                                   padding: .4em;
                                   width: 2em;     
                                   height: 2em;
                                   path {
                                        margin: auto;
                                   }
                              }

                              span {
                                   font-size: .9rem;
                                   font-weight: 500;
                              }
                         }
                    }
               }
          }
     }
}
.guides {
     overflow: hidden;
     display: flex;
     flex-direction: column;
     padding: 2em 0;
     img {
          align-self: center;
          width: 150%;
          
     }
     &__head {
          display: flex;
          padding: 2em;
          span {
               color: transparent;
               position: relative;
               background: linear-gradient(90deg, rgba(84,187,255,1) 0%, rgba(187,48,185,1) 100%);
               background-clip: text;
          }
     }
     &__content {
          padding: 0 2em;

          &__title {
               font-family: 'Playfair Display', serif;
               font-size: 2rem;
          }
          &__text {
               padding: 1.5em 0;
               font-weight: 400;
          }
          &__button {
               border: unset;
               background-color: $dark-grey;
               border-radius: 5px;
               color: white;
               padding: 1em 4em;
          }
     }
}
.common_questions {
     padding: 2em;
     & > h1 {
          text-align: center;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 2.4rem;
          padding: 1em 0;
     }
     & > h2 {
          font-weight: 500;
          text-align: center;
     }
     &__wrapper {
          padding: 2em 1em;
          &__question {
               border-top: 1px solid lightgray;
               padding: 1.5em .1em;
               &__head {
                    display: flex;
                    list-style: none;
                    gap: 1em;

                    h4 {
                         line-height: 2rem;
                         font-weight: 500;
                    }
                    svg {
                         flex-shrink: 0;
                    }
               }
               &__answer {
                    padding: 1em 0;
                    font-size: .9rem;
                    line-height: 1.7rem;
               }
          }
     }
}

.footer {
     margin-top: 15px;
     background-color: $dark-grey;
     height: 500px;
}

.grey_btn {
     background-color: $dark-grey;
     font-weight:600;
     padding: 1.4em 4em 1.2em 4em;
     outline: unset;
     border: unset;
     border-radius: 5px;
     color: white;
}

// Tablets
@media (min-width: 768px) {

}

// Desktop
@media (min-width: 1024px) {
     .nav {
          .desktop {
               display: block;
          }
     }
}