// Variables

$accent-color: #00838C;
$secondary-color: #09757A;
$light-blue: #D8EFEF;
$dark-grey: #111111;
$nav-bg: #2b2b2b;

// Global Styles

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

// Mobile (main styling)
.nav {
     background-color: $nav-bg;
     height: 60px;
     display: flex;
     align-items: center;
     padding: .5em;
     gap: .5em;
     
     .desktop {
          display: none;
     }
     .mobile {
          display: block;
     }
     &__menu {
          list-style: none;
          display: flex;
          align-items: center;
          & > li {
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 1em;
          }
     }
     &__first-sec {
          display: flex;
          gap: 5px;
          flex-grow: 1;
          align-items: center;
     }
}

// Tablets
@media (min-width: 768px) {

}

// Desktop
@media (min-width: 1024px) {
     nav {
          .desktop {
               display: block;
          }
     }
}