// Variables

$accent-color: #00838C;
$secondary-color: #09757A;
$light-blue: #D8EFEF;
$dark-grey: #111111;

// Global Styles

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

// Mobile (main styling)
nav {
     background-color: $dark-grey;
     height: 70px;
     display: flex;
     align-items: center;
     padding: .5em;
}